{% extends 'app_general/components/base.html' %}

{% block title %}
    <title>password change done</title>
{% endblock title %}
    
{% block content %}
<section class="container-md">
    <div class="container mt-5">
        <h1> เปลี่ยนรหัสผ่านสำเร็จ </h1>
        <p>
            <a href=" {% url 'dashboard' %} ">แดชบอร์ด</a>
            <a href=" {% url 'profile' %} ">ข้อมูลผู้ใช้</a>
            <a href=" {% url 'password_change' %} ">เปลี่ยนรหัสผ่าน</a>
        </p>
        <p>
            รหัสผ่านของคุณถูกเปลี่ยนไปแล้ว
        </p>
    </div>
</section>

{% endblock content %}