{% extends 'app_general/components/base.html' %}

{% block title %}
    <title>password reset</title>
{% endblock title %}
    
{% block content %}
<section class="container-md">
    <div class="container mt-5">
        
        
        {% if validlink %}
        <h3>ตั้งรหัสผ่านใหม่</h3>
            <form  method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button class="btn btn-primary" type="submit">บันทึก</button>
                </p>
            </form>

        {% else %}
        <h3>ลิ้งค์ใช้ไม่ได้</h3>
        <p>
            ลิ้งค์หมดอายุใช้งาน หรือเคยใช้งานไปแล้ว
        </p>
        <p>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">กลับไปหน้าแรก</a>
        </p>
        {% endif %}
            
        
    </div>
</section>

{% endblock content %}