{% extends 'app_general/components/base.html' %}

{% block title %}
    <title>password change</title>
{% endblock title %}
    
{% block content %}
<section class="container-md">
    <div class="container mt-5">
        <h1> เปลี่ยนรหัสผ่าน </h1>
        <p>
            <a href=" {% url 'dashboard' %} ">แดชบอร์ด</a>
            <a href=" {% url 'profile' %} ">ข้อมูลผู้ใช้</a>
            <a href=" {% url 'password_change' %} ">เปลี่ยนรหัสผ่าน</a>
        </p>
        <form action="{% url 'password_change' %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
        <p>
            <button class="btn btn-primary" type="submit">บันทึก</button>
        </p>
        </form>
    </div>
</section>

{% endblock content %}