{% extends 'app_general/components/base.html' %}

{% block title %}
    <title>send email</title>
{% endblock title %}
    
{% block content %}
<section class="container-md">
    <div class="container mt-5">
        <h1>ส่งรหัสผ่านไปทางอีเมลของคุณเรียบร้อยแล้ว</h1>
        <p>
            <h3>กรุณาตรวจสอบอีเมลของคุณ</h3>
        </p>
        <p>
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">กลับไปเข้าสู่ระบบ</a>
        </p>
    </div>
</section>

{% endblock content %}