{% extends 'app_general/components/base.html' %}

{% block title %}
    <title>password reset</title>
{% endblock title %}
    
{% block content %}
<section class="container-md">
    <div class="container mt-5">
        <h1>ลืมรหัสผ่าน?</h1>
        <form action="{% url 'password_reset' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button class="btn btn-primary" type="submit">ส่งอีเมล</button>
            </p>
        </form>
    </div>
</section>

{% endblock content %}