{% extends 'app_general/components/base.html' %}

{% block title %}
    <title>login</title>
{% endblock title %}
    
{% block content %}
<section class="container-md">
    <div class="container mt-5">
        <h1>Hello {{ user.username }}</h1>
        <p>
            <a href=" {% url 'dashboard' %} ">แดชบอร์ด</a>
            <a href=" {% url 'profile' %} ">ข้อมูลผู้ใช้</a>
            <a href=" {% url 'password_change' %} ">เปลี่ยนรหัสผ่าน</a>

        </p>
        
        <div class="row justify-content-center">
            <p>คุณอยู่ในหน้าแดชบอร์ด</p>
        </div>
    </div>
</section>

{% endblock content %}